@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
 
body{
    background: #eee;
}
.heading{
    box-sizing: border-box;
    padding-top: 7rem;
    border: rgb(225, 225, 225,0.5);
    margin: 0px 60px 0px 60px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px 11px rgba(0,0,0,0.8);
}
.heading .topHead{
    background-color: rgb(7, 195, 241);
    font-size: 2.5rem;
    font-weight: 1000;
    cursor: pointer;
}
.heading .topHead:hover{
    text-shadow: 2px 1px #fafafa;
}
.heading .topPg{
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
}
.heading .topPg:hover{
    background-color: #000;
    color: rgb(255, 255, 255);
    font-size: 2.1rem;
}

.taskSection{
    padding: 20px 0px 5px 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
}
.taskSection .button{
    padding: 15px 40px;
    border-radius: 5px;
    border: 1px solid rgb(35, 35, 35);
    cursor: pointer;
    background: rgb(35, 35, 35);
    letter-spacing: 1.5px;
    color: #eee;
    font-size: 15px;
    text-transform: uppercase;
}
.taskSection .button a{
    color: #ffffff;
}
.taskSection .button:hover {
    letter-spacing: 3px;
    border-color: rgb(24, 10, 184);
    color: rgb(24, 10, 184);
    box-shadow: 0 0 35px rgb(24, 10, 184);
    background-color:#fff;
}
.taskSection .button:hover a{
    color: rgb(16, 246, 0);
}